/* 
основний колір тексту
колір тексту параграфів
колір наведення-акценту
білий #FFFFFF
колір заливки подложки на головній сторінці - rgb(202,154,155)

шрифт на HEADER
"The word of" - Caveat
"Victoria Soltis-Doan" - Dancing Script
"Author and illustrator of children's books" - Permanent Marker
*/

/* плавна прокрутка по сайту */
html {
	scroll-behavior: smooth;
}

/* Указываем box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
	padding: 0;
}

body {
	background-color: rgb(256, 256, 256);
	letter-spacing: 0.03em;
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;

	/* приховати тільки горизонтальну смугу прокручування */
	overflow-x: hidden;
}

/* глобальне скидання стилів */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
	list-style: none;
}

/* Элементы a сбрасываем до дефолтных стилей */
a,
a:link,
a:active,
a:visited {
	/* text-decoration-skip-ink: auto; */
	text-decoration: none;
}

/* прибираємо підкреслення посилання */
.link {
	text-decoration: none;
}

/* прибираємо маркери списку */
.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Упрощаем работу с изображениями */
img {
	max-width: 100%;
	display: block;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.container {
	width: 480px;

	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	/* background: rgb(139, 157, 197); */
	/* outline: 1px solid tomato; */
}

/* .container {
	width: 1200px;

	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}  */

.section {
	padding-top: 15px;
	padding-bottom: 40px;

	background-image: url("../images/title/bcg-mobile@2x.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* --------------------------------- */

/* .header {
	display: flex;
	justify-content: center;
	align-items: center; */
/* gap: 30px */

/* padding-top: 30px;
	padding-bottom: 20px;
} */

.header__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
	padding: 10px 15px;
}

/* .header-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
} */

.header-text__text {
	font-family: "Caveat", Verdana, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: calc(20 / 16);
	color: rgb(21, 86, 82);

	text-align: center;
}

/* .header__text {
	font-family: "Caveat", Verdana, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: calc(31 / 26);
	color: rgb(21, 86, 82);

	text-align: center;

	margin-right: 30px;
} */

.header-text__name {
	font-family: "Dancing Script", Verdana, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: calc(30 / 25);
	color: rgb(124, 54, 135);

	text-align: center;
}

/* .header__name {
	font-family: "Dancing Script", Verdana, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	line-height: calc(31 / 26);
	color: rgb(124, 54, 135);

	margin-right: 30px;
} */

/* .header__name:hover,
.header__name:focus {
	color: rgb(56, 222, 70);
	transform: scale(1.05);
} */

.header-text__description {
	font-family: "Permanent Marker", Verdana, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: calc(13 / 8);
	text-align: center;
	color: rgb(21, 86, 82);
}

/* .header__text-name {
	font-family: "Permanent Marker", Verdana, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: calc(31 / 26);
	color: rgb(21, 86, 82);
} */

.header-img {
	/* position: relative;
	bottom: 60px;
	left: 390px; */
	width: 50px;
}

/* --------------------------------- */

.body__container {
	max-width: 450px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	/* background-image: url("../images/title/bcg-mobile2@2x.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; */

	/* background: rgb(202, 154, 155); */
	/* box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3); */
}

.list__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.circle__img,
.curve__img {
	margin-top: 20px;
	margin-bottom: 45px;
}

.thumb {
	position: relative;
}

.thumb > .books__img {
	position: absolute;
	bottom: 30px;
	left: 10px;
}

.thumb > .books__ribbon {
	position: absolute;
	top: 195px;
	left: 20px;
}

.thumb > .about__img {
	position: absolute;
	bottom: 20px;
	left: 30px;
}

.thumb > .about__ribbon {
	position: absolute;
	top: 195px;
	left: 20px;
}

.thumb > .contacts__img {
	position: absolute;
	bottom: 10px;
	left: 20px;
}

.thumb > .illustrations__img {
	position: absolute;
	bottom: 40px;
	left: 10px;
}

.thumb > .illustrations__ribbon {
	position: absolute;
	top: 195px;
	left: 20px;
}

/* .books:hover,
.about:hover,
.contacts:hover,
.illustrations:hover,
.books:focus,
.about:focus,
.contacts:focus,
.illustrations:focus {
	transform: scale(1.03);
} */

.title-chapter {
	font-family: "Caveat", Verdana, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: calc(31 / 26);
	color: rgb(21, 86, 82);
}

.thumb > .title-chapter__books {
	position: absolute;
	bottom: -10px;
	left: 70px;
}

.thumb > .title-chapter__about {
	position: absolute;
	bottom: -10px;
	left: 70px;
}

.thumb > .title-chapter__contacts {
	position: absolute;
	bottom: 10px;
	left: 130px;
	rotate: -25deg;
}

.thumb > .title-chapter__illustrations {
	position: absolute;
	bottom: -10px;
	left: 45px;
}
