/* 
основний колір тексту
колір тексту параграфів
колір наведення-акценту
білий #FFFFFF
колір заливки подложки на головній сторінці - rgb(202,154,155)

шрифт на HEADER
"The word of" - Caveat
"Victoria Soltis-Doan" - Dancing Script
"Author and illustrator of children's books" - Permanent Marker
*/

/* Указываем box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
	padding: 0;
}

body {
	background-color: rgb(197, 213, 220);
	letter-spacing: 0.03em;
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* глобальне скидання стилів */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
	list-style: none;
}

/* Элементы a сбрасываем до дефолтных стилей */
a,
a:link,
a:active,
a:visited {
	/* text-decoration-skip-ink: auto; */
	text-decoration: none;
}

/* прибираємо підкреслення посилання */
.link {
	text-decoration: none;
}

/* прибираємо маркери списку */
.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Упрощаем работу с изображениями */
img {
	max-width: 100%;
	display: block;
}

.container {
	width: 1200px;

	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	/* background: rgb(139, 157, 197); */
	/* outline: 1px solid tomato; */
}

.section {
	padding-top: 15px;
	padding-bottom: 40px;
}

/* --------------------------------- */

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	/* gap: 30px */

	padding-top: 30px;
	padding-bottom: 20px;
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__text {
	font-family: "Caveat", Verdana, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: calc(31 / 26);
	color: rgb(21, 86, 82);

	text-align: center;

	margin-right: 30px;
}

.header__name {
	font-family: "Dancing Script", Verdana, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	line-height: calc(31 / 26);
	color: rgb(124, 54, 135);

	margin-right: 30px;
}

.header__name:hover,
.header__name:focus {
	color: rgb(56, 222, 70);
	/* color: rgb(75, 46, 118); */
	/* background-color: bisque; */
	transform: scale(1.05);
}

.header__text-name {
	font-family: "Permanent Marker", Verdana, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: calc(31 / 26);
	color: rgb(21, 86, 82);
}

/* --------------------------------- */

.body__container {
	display: flex;
	justify-content: center;
	margin: 0 auto;

	height: 600px;

	background: rgb(202, 154, 155);
}

.list__item {
	display: flex;
	gap: 30px;
}

.my-books {
	position: relative;
	top: 60px;
	left: 150px;
}

.about-me {
	position: relative;
	top: 30px;
	left: 250px;
}

.contacts {
	position: relative;
	top: 320px;
	right: 420px;
}

.my-illustrations {
	position: relative;
	top: 250px;
	right: 300px;
}

.my-books:hover,
.about-me:hover,
.contacts:hover,
.my-illustrations:hover,
.my-books:focus,
.about-me:focus,
.contacts:focus,
.my-illustrations:focus {
	transform: scale(1.05);
}

.title-chapter {
	font-family: "Caveat", Verdana, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: calc(31 / 26);
	color: rgb(21, 86, 82);
}

.title-chapter__book {
	position: relative;
	bottom: 42px;
	left: 57px;
}

.title-chapter__about {
	position: relative;
	bottom: 34px;
	left: 55px;
}

.title-chapter__contact {
	position: relative;
	bottom: 65px;
	left: 90px;
	rotate: -20deg;
}

.title-chapter__illustrations {
	position: relative;
	bottom: 40px;
	left: 30px;
}
